In [3]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df1=pd.DataFrame({'A':['A0','A1','A2','A3'],
 'B':['B0','B1','B2','B3'],
 'C':['C0','C1','C2','C3'],
 'D':['D0','D1','D2','D3'],})

In [5]:
df2=pd.DataFrame({'A':['A4','A5','A6','A7'],
 'B':['B4','B5','B6','B7'],
 'C':['C4','C5','C6','C7'],
 'D':['D4','D5','D6','D7'],})

In [6]:
pd.concat([df1,df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [ ]:
# como los indices se repiten se ignoran los de idicex dataframe y se hacen los index concecutivos

In [7]:
pd.concat([df1,df2],ignore_index=True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
# crecemos de manera horizontal haciendo la orientacion por axis 1 columnas

In [10]:
pd.concat([df1,df2],axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [ ]:
# MERGE

In [34]:
izq=pd.DataFrame({'Key':['K0','K1','K2','K3'],
 'A':['A0','A1','A2','A3'],
 'B':['B0','B1','B2','B3'], })

der=({'Key_2':['K0','K1','K2','K3'],
 'C':['C0','C1','C2','C3'],
 'D':['D0','D1','D2','D3'], })

In [14]:
izq

  Key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [27]:
der

{'Key_2': ['K0', 'K1', 'K2', 'K3'],
 'C': ['C0', 'C1', 'C2', 'C3'],
 'D': ['D0', 'D1', 'D2', 'D3']}

In [35]:
izq.merge  (der, left_on='Key', right_on= 'Key_2')

TypeError: Can only merge Series or DataFrame objects, a <class 'dict'> was passed

In [ ]:
#JOIN

In [29]:
izq = pd.DataFrame({'A':['A0','A1','A2'],
   'B':['B0','B1','B2'] },
  index=['K0','K1','K2']) 

der = pd.DataFrame({'C':['C0','C1','C2'],
   'D':['D0','D1','D2'] },
  index=['K0','K2','K3'])

In [33]:
izq.join(der, how='right')

      A    B   C   D
K0   A0   B0  C0  D0
K2   A2   B2  C1  D1
K3  NaN  NaN  C2  D2