In [1]:
import pandas as pd

In [ ]:
# definiendo una lista con indices indexados

In [4]:
psg_players= pd.Series (['Navas','Mbappe','Neymar', 'Messi'],
                        index = [1,7,10,30])

In [6]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [15]:
# si no tenemos los valores de index , nos arroja valores por delfaut

In [16]:
pd.Series (['Navas','Mbappe','Neymar','Messi']
)

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [18]:
# Busqueda por indices

In [17]:
dict= {1:'Navas', 7: 'Mbappe', 10:'Neymar' ,30:'Messi' }
pd.Series (dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [20]:
psg_players [7]

'Mbappe'

In [ ]:
# busqueda mediante Slicing

In [21]:
psg_players [0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [ ]:
# Similar a la extructura matricial

In [22]:
dict= { 'jugador': ['Navas',  'Mbappe', 'Neymar' ,'Messi' ],
       'Altura' : [180.2 ,190.0 ,170.3,189.2],
       'Gol' : [ 5, 20, 30,500]}

In [24]:
df_players = pd.DataFrame (dict, index = [1,7,10,30])
df_players

   jugador  Altura  Gol
1    Navas   180.2    5
7   Mbappe   190.0   20
10  Neymar   170.3   30
30   Messi   189.2  500

In [ ]:
# filtrando por columnas

In [25]:
df_players .columns

Index(['jugador', 'Altura', 'Gol'], dtype='object')

In [26]:
df_players.index

Index([1, 7, 10, 30], dtype='int64')

In [27]:
df_players.jugador

1      Navas
7     Mbappe
10    Neymar
30     Messi
Name: jugador, dtype: object

In [28]:
df_players.Altura

1     180.2
7     190.0
10    170.3
30    189.2
Name: Altura, dtype: float64

In [47]:
psg_players = pd.Series(['Luis Suarez','Jorge Molina', 'Antonio Puertas', 'German Sanchez', 'Luis Milla', 'Luis Manuel',], index=[9,7,10,3,22,1])

In [40]:
psg_players

9         Luis Suarez
7        Jorge Molina
10    Antonio Puertas
3      German Sanchez
22         Luis Milla
1         Luis Manuel
dtype: object

In [41]:
partido ={'Jugador':['Luis Suarez','Jorge Molina', 'Antonio Puertas', 'German Sanchez', 'Luis Milla', 'Luis Manuel'],

'Posicion':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],

'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0] ,

'Goles':[7, 7, 5, 2, 2, 0]
}

In [43]:
plan_partido = pd.DataFrame (partido ,index= [9,7,10,3,22,1])

In [44]:
plan_partido

            Jugador        Posicion  Altura  Goles
9       Luis Suarez       Delantero   185.0      7
7      Jorge Molina       Delantero   187.0      7
10  Antonio Puertas  Centrocampista   185.0      5
3    German Sanchez         Defensa   187.0      2
22       Luis Milla  Centrocampista   175.0      2
1       Luis Manuel         Portero   190.0      0

In [48]:
plan_partido.Jugador

9         Luis Suarez
7        Jorge Molina
10    Antonio Puertas
3      German Sanchez
22         Luis Milla
1         Luis Manuel
Name: Jugador, dtype: object

In [50]:
plan_partido.index

Index([9, 7, 10, 3, 22, 1], dtype='int64')

In [51]:
plan_partido.Altura

9     185.0
7     187.0
10    185.0
3     187.0
22    175.0
1     190.0
Name: Altura, dtype: float64